<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Energy Efficiency De-risk Platform</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/homepage/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900,900italic,400italic,300italic,100italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/homepage/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/homepage/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/homepage/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/static/homepage/img/final_logo_grayscale.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About the Project</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/accounts/login">Sign in</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
			    <img src="/static/homepage/img/final_logo_big.png"/>
                <h1 style="font-size: 55px !important;">Energy Efficiency</h1>
                <h1 style="font-size: 55px !important;">De-risking Platform</h1>
                <hr>
                <p>An open source database for energy efficiency investments performance monitoring and benchmarking as well as for the support of the underwriting process</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Our Vision</h2>
                    <hr class="light">
                    <p class="text-faded" style="font-size:20px">Provide detailed analysis and evidence on the performance of energy efficiency investments to support the assessment of the benefits and financial risks</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="padding-bottom:25px">
                    <h2 class="section-heading">Get Involved!</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 text-center">
                    <div class="service-box">
                        <img src="/static/homepage/img/user.png" class="wow bounceIn text-primary"></img>
                        <h3>Become a user</h3>
                        <p class="text-muted">
						<ul class="text-justify fa-ul text-muted" style="font-size:18px">
    <li><i class="fa-li fa fa-check"></i>Enhance your understanding of and access to energy efficiency finance related business opportunities</li>
    <li><i class="fa-li fa fa-check"></i>Streamline underwritng procedures through the development and use of a common language for energy efficiency underwriting</li>
    <li><i class="fa-li fa fa-check"></i>Decrease due diligence and transaction costs</li>
    <li><i class="fa-li fa fa-check"></i>Better risks assessment through high quality and credible data framework </li>
</ul>
						</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 text-center">
                    <div class="service-box">
                        <img src="/static/homepage/img/dataprovider.png" class="wow bounceIn text-primary" data-wow-delay=".1s"></img>
                        <h3>Become a data provider</h3>
                        <p class="text-muted">
						<ul class="text-justify fa-ul text-muted" style="font-size:18px">
    <li><i class="fa-li fa fa-check"></i>Contribute to creating of European evidence base which is key to "get the EE policy and market story right"</li>
    <li><i class="fa-li fa fa-check"></i>Acknowledgement and visibility as data contributor</li>
    <li><i class="fa-li fa fa-check"></i>Benchmarking your project performance versus others</li>
    <li><i class="fa-li fa fa-check"></i>Connect your data to investors</li>
	    <li><i class="fa-li fa fa-check"></i>Influence the industry best practice</li>
</ul>
						</p>
                    </div>
                </div>
            </div>
			<div class="row text-center" style="margin-top:30px">
			 <a class="btn btn-primary btn-xl page-scroll">Sign me up</a>
			</div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 style="margin-bottom:50px;">I want to stay informed about the platform updates</h2>
                <input placeholder="Email me for any platform news" id="btn-subscribe"></input>
				<a href="#" style="border: 0 none;float:right; margin-top:18px;margin-right:70px;
    border-radius: 300px;font-weight: 500;text-transform: uppercase;" class="btn btn-default btn-xl wow tada">Subscribe</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your cooperation with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+30 210 772 2085</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">secretary@eedp.com</a></p>
                </div>
            </div>
		</div>
		</section>
	<section class="bg-footer" style="padding:20px !important;">
        <div class="container">
			<div class="row text-center">
			                <div class="text-center">
                    <hr class="primary">
                    <p>You may also contact</p>
                </div>
			<p><b>European Commission, DG Energy:</b></br> <b>Roman Doubrava</b>, Team Leader - Energy Efficiency Finance, <a href="mailto:roman.doubrava@ec.europa.eu">roman.doubrava@ec.europa.eu</a>
			</p>
           <p>
<b>The consultant team supporting the EEFIG De-risking project</b> </br>
 <b>Peter Sweatman</b>, EEFIG Rapporteur, <a href="mailto:info@climatestrategy.com">info@climatestrategy.com</a></br>
 <b>Steven Fawkes</b>, Project Manager, <a href="mailto:steven.fawkes@energyproltd.com">steven.fawkes@energyproltd.com</a></br>
 <b>Carsten Glenting</b>, Deputy Project Manager, <a href="mailto:cag@cowi.com">cag@cowi.com</a>
 </p>
			</div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/static/homepage/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/homepage/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/homepage/js/jquery.easing.min.js"></script>
    <script src="/static/homepage/js/jquery.fittext.js"></script>
    <script src="/static/homepage/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/homepage/js/creative.js"></script>

</body>

</html>
