<ul>
<li id='001'><b>Heating (process heating)</b>
<ul>
	<li id='001001'>Oil/gas fired hot water boilers
	<ul>
		<li id='001001001'>operational optimization (controls and automation)</li>
		<li id='001001002'>technical optimization (component renewal/supplement/maintenance)</li>
		<li id='001001003'>complete renewal</li>
		<li id='001001004'>other</li>
	</ul>
	</li>
</ul>
<ul>
	<li id='001002'>Oil/gas fired steam boilers
		<ul>
			<li id='001002001'>operational optimization (controls and automation)</li>
			<li id='001002002'>technical optimization (component renewal/supplement/maintenance)</li>
			<li id='001002003'>complete renewal</li>
			<li id='001002004'>other</li>
		</ul>
	</li>
</ul>
<ul>
	<li id='001003'>Engine CHP
	    <ul>
		<li id='001003001'>operational optimization (controls and automation)</li>
		<li id='001003002'>technical optimization (component renewal/supplement/maintenance)</li>
		<li id='001003003'>complete renewal</li>
		<li id='001003004'>other measures</li>
		</ul>
	</li>
</ul>
<ul>
	<li id='001004'>Optimisation of distribution systems
	<ul>
		<li id='001004001'>insulation of pipes</li>
		<li id='001004002'>insulation of fitings, containements and other surfaces</li>
	</ul>
	</li>
		<li id='001005'>other
		<ul>
			<li id='001005001'>operational optimization (controls and automation)</li>
			<li id='001005002'>technical optimization (component renewal/supplement/maintenance)</li>
			<li id='001005003'>complete renewal</li>
			<li id='001005004'>other (please specify)</li>
		</ul>
	</li>
</ul>
</li>
<li id='002'><b>Cooling (Process cooling)</b>
<ul>
	<li id='002001'>Chillers (centralized)
	<ul>
		<li id='002001001'>operational optimization (controls and automation)</li>
		<li id='002001002'>technical optimization (component renewal/supplement/maintenance)</li>
		<li id='002001003'>complete renewal</li>
		<li id='002001004'>other measures</li>
	</ul>
	</li>
	<li id='002002'>Free cooling</li>
	<li id='002003'>optimisation of distribution systems
	<ul>
		<li id='002003001'>optimisation of distribution systems - insulation of pipes</li>
		<li id='002003002'>optimisation of distribution systems - insulation of fitings, containements and other surfaces</li>
	</ul>
	</li>
	<li id='002004'>other</li>
</ul>
</li>
<li id='003'><b>Ventilation and air conditioning</b>
<ul>
	<li id='003001'>technical optimization by component renewal/supplement/maintenance</li>
	<li id='003002'>operational optimization by controls and automation or maintenance</li>
	<li id='003003'>complete renewal</li>
	<li id='003004'>other</li>
</ul>
</li>
<li id='004'><b>Lighting</b>
<ul>
	<li id='004001'>relamp
	<ul>
		<li id='004001001'>relamp to LED</li>
		<li id='004001002'>relamp to T5</li>
		<li id='004001003'>other</li>
	</ul>
	</li>
	<li id='004002'>technical optimization by component renewal/supplement/maintenance
	<ul>
		<li id='004002001'>Install reflectors</li>
		<li id='004002002'>other (please specify)</li>
	</ul>
	</li>
	<li id='004003'>operational optimization by controls and automation or maintenance
	<ul>
		<li id='004003001'>Maximise use of natural light</li>
		<li id='004003002'>Clean lamps/luminaires</li>
		<li id='004003003'>Occupancy sensors</li>
		<li id='004003004'>Timers</li>
		<li id='004003005'>Light sensors/dimmers</li>
		<li id='004003006'>Other lighting controls</li>
		<li id='004003007'>Clean lamps/luminaires</li>
	</ul>
	</li>
</ul>
		</li>
<li id='005'><b>Compressed Air</b>
<ul>
	<li id='005001'>renewal of compressor</li>
	<li id='005002'>technical optimization by component renewal/supplement/maintenance</li>
	<li id='005003'>operational optimization by controls and automation or maintenance</li>
	<li id='005004'>optimisation of distribution systems</li>
</ul>
</li>
<li id='006'><b>Waste heat (w.o. power generation)</b>
<ul>
	<li id='006001'>waste heat from processes</li>
	<li id='006002'>waste heat from cross-cutting technologies
	<ul>
		<li id='006002001'>waste heat from HVAC</li>
		<li id='006002002'>waste heat from compressors</li>
		<li id='006002003'>waste heat from chillers</li>
		<li id='006002004'>other</li>
	</ul>
	</li>
</ul>
</li>
<li id='007'><b>Power Systems</b>
<ul>
	<li id='007001'>technical optimization (component renewal/supplement/maintenance)
	<ul>
		<li id='007001001'>Voltge optimisation</li>
		<li id='007001002'>Reduce Power System Losses</li>
		<li id='007001003'>Power Factor correction</li>
		<li id='007001004'>Install Energy-Efficient Transformers</li>
	</ul>
	</li>
	<li id='007002'>operational optimization (controls and automation)</li>
	<li id='007003'>complete renewal</li>
	<li id='007004'>other</li>
</ul>
</li>
<li id='008'><b>Refrigeration</b>
<ul>
	<li id='008001'>technical optimization (component renewal/supplement/maintenance)
	<ul>
		<li id='008001001'>Install Floating-Head Pressure Control</li>
		<li id='008001002'>Reduce Refrigeration System Losses</li>
		<li id='008001003'>Install Refrigerated Space Doors or Curtains</li>
		<li id='008001004'>Increase Insulation of Refrigerated Area</li>
		<li id='008001005'>Improve Refrigeration System Efficiency</li>
		<li id='008001006'>Improve Compressors/Controls</li>
	</ul>
	</li>
	<li id='008002'>operational optimization (controls and automation)
	<ul>
		<li id='008002001'>Improve Controls</li>
		<li id='008002002'>Optimize Defrost Cycle Control</li>
		<li id='008002003'>Optimize Condensing Unit Capacity Control</li>
	</ul>
	</li>
	<li id='008003'>complete renewal</li>
	<li id='008004'>other</li>
</ul>
</li>
<li id='009'><b>Motors</b>
<ul>
	<li id='009001'>operational optimization (controls and automation)
	<ul>
		<li id='009001001'>Reduce stand-by operation</li>
		<li id='009001002'>other</li>
	</ul>
	</li>
	<li id='009002'>technical optimization (component renewal/supplement/maintenance)
	<ul>
		<li id='009002001'>Optimize Motor Sizing</li>
		<li id='009002002'>Reduce Peak Power Demand</li>
		<li id='009002003'>Variable-Speed Motors/Drives</li>
	</ul>
	</li>
	<li id='009003'>complete renewal</li>
</ul>
</li>

<li id='010'><b>Pumps</b>
<ul>
	<li id='010001'>operational optimization (controls and automation)
	<ul>
		<li id='010001001'>Reduce stand-by operation</li>
		<li id='010001002'>other</li>
	</ul>
	</li>
	<li id='010002'>technical optimization (component renewal/supplement/maintenance)
	<ul>
		<li id='010002001'>Optimize Pump Sizing</li>
		<li id='010002002'>Reduce Peak Power Demand</li>
		<li id='010002003'>Variable-Speed Motors/Drives</li>
		<li id='010002004'>other</li>
	</ul>
	</li>
	<li id='010003'>optimisation of distribution systems
  <ul>
		<li id='010003001'>hydraulic optimisation</li>
		<li id='010003002'>other</li>
	</ul>
	</li>
	<li id='010004'>complete renewal</li>
</ul>
</li>
<li id='011'><b>Other</b></li>

<li id='012'><b>Building Fabric Measures</b>
<ul>
	<li id='012001'>Walls
	<ul>
		<li id='012001001'>external wall insulation</li>
		<li id='012001002'>cavity wall insulation</li>
		<li id='012001003'>internal wall insulation</li>
		<li id='012001004'>other</li>
	</ul>
	</li>
	<li id='012002'>Roof
	<ul>
		<li id='012002001'>loft insulation of ceiling</li>
		<li id='012002002'>pitched roof insulation</li>
		<li id='012002003'>flat roof insulation</li>
		<li id='012002004'>reflective roof coating</li>
		<li id='012002005'>green roof</li>
		<li id='012002006'>other</li>
	</ul>
	</li>
	<li id='012003'>Floor
	<ul>
		<li id='012003001'>suspended floor</li>
		<li id='012003002'>solid floor</li>
		<li id='012003003'>other</li>
	</ul>
	</li>
	<li id='012004'>Glazing
	<ul>
		<li id='012004001'>Windows</li>
		<li id='012004002'>Doors</li>
		<li id='012004003'>Skylights</li>
		<li id='012004004'>tinted or reflective coating</li>
		<li id='012004005'>other</li>
	</ul>
	</li>
	<li id='012005'>Air infiltration
	<ul>
		<li id='012005001'>draughtproofing</li>
		<li id='012005002'>air curtains</li>
		<li id='012005003'>other</li>
	</ul>
	</li>
	<li id='012006'>Shading
	<ul>
		<li id='012006001'>external  </li>
		<li id='012006002'>internal wall insulation</li>
		<li id='012006003'>other</li>
	</ul>
	</li>
</ul>
</li>
<li id='013'><b>HVAC Plant</b>
<ul>
	<li id='013001'>Boiler/furnace
	<ul>
		<li id='013001001'>boiler replacement</li>
		<li id='013001002'>boiler upgrade</li>
		<li id='013001003'>conversion of fuel source</li>
		<li id='013001004'>other</li>
	</ul>
	</li>
	<li id='013002'>Chiller plant
	<ul>
		<li id='013002001'>chiller replacement</li>
		<li id='013002002'>chiller upgrade</li>
		<li id='013002003'>evaporative cooling</li>
		<li id='013002004'>other</li>
	</ul>
	</li>
	<li id='013003'>Pipework
	<ul>
		<li id='013003001'>pipe insulation</li>
		<li id='013003002'>improved pumps</li>
		<li id='013003003'>other</li>
	</ul>
	</li>
	<li id='013004'>Ventilation
	<ul>
		<li id='013004001'>Duct insulation  </li>
		<li id='013004002'>Heat recovery</li>
		<li id='013004003'>Variable speed drives</li>
		<li id='013004004'>Reduce Ventilation Loads</li>
		<li id='013004005'>Improved motors/fans</li>
		<li id='013004006'>other (please specify)</li>
	</ul>
	</li>
	<li id='013005'>Controls
	<ul>
		<li id='013005001'>Install/replace BEMS</li>
		<li id='013005002'>optimise stop/start</li>
		<li id='013005003'>time controls</li>
		<li id='013005004'>thermostatic valves</li>
		<li id='013005005'>other (please specify)</li>
	</ul>
	</li>
	<li id='013006'>Water heating
	<ul>
		<li id='013006001'>water saving devices to hot taps/showers</li>
		<li id='013006002'>other</li>
	</ul>
	</li>
</ul>
</li>
 </ul>